.todolist__items {
    margin-top: 1rem;
}


.todolist ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.delete-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

#add-task-input {
  border: none;
  outline: none;
}

.todo-form {
    padding: 4px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid;
    border-radius: 4px;
}

.input-label {
  font-size: 12px;
}

